name: Formatting Code

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Setting up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install nodejs
          
      - name: Installing the formatter
        run: npm install --save-dev --save-exact prettier
          
      - name: Formatting code
        run: npm run format
        
      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4.1.2
        with:
          commit_message: Formatted code using "npm run format" (prettier package)
          branch: ${{ github.head_ref }}
